<div class="raw">
    <div class="col-md-6 offset-md-3">
        <div class="col-sm-12 text-center">
            <h5>User's informations</h5>
            <table class="table table-light table-striped table-bordered table-sm">
                <tbody>

                    <tr>
                        <td>First Name</td>
                        <td>{{user.firstname}}</td>
                    </tr>
                    <tr>
                        <td>Last Name</td>
                        <td>{{user.lastname}}</td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>{{user.address}}</td>
                    </tr>
                    <tr>
                        <td>E-mail</td>
                        <td>{{user.email}}</td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td>{{user.phone}}</td>
                    </tr>

                </tbody>

            </table>

        </div>
    </div>

</div>